<html>
    <head>
        <meta charset="utf-8"/>
        <title>EJS</title>
        <style>
            .contents {
                background : #ccc;
                padding : 30px;
                margin : 10px;
                font-weight : bold
            }
        </style>
    </head>
    <body>

        Hello

        <%=docpath %>

        <%- md(docpath) %>

    </body>
</html>