@import url("common.css");

/*********
Root
*********/

:root {
    font-size: 160%;
}

/*********
Article
*********/

article {
    max-width: 11in;
    margin: 0em auto 2em auto;
    padding: 0 1em 0em 1em;
}

article button.speak-button {
    display: block;
    opacity: 0.5;
    margin: 0 0 0 auto;
}

footer {
    display: none;
}

nav#page-navigator {
    font-size: 0.6em;
    bottom: 0rem;
    margin: 0.5rem;
    position: fixed;
    text-align: center;
    width: 100%;
}

nav#page-navigator div#page-links {
    display: none;
}

nav#page-navigator button {
    opacity: 0.3;
    padding: 0 0.5em;
}

aside button {
    opacity: 0.3;
}

/*********
Media
*********/

@page {
    size: landscape;
}

@media print {
    article *:not(meta):not(link):not(style):not(script) {
        display: revert !important;
    }
    nav#page-navigator {
        display: none;
    }
}

article h2, article h3, article h4 {
    page-break-before: always;
}
