:root {
    /* Browser default font-size is 16px, this way 1 rem = 10px */
    font-size: 62.5%;
}

html {
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: white;
    text-size-adjust: none;
}

body {
    margin: 1em;
    font-size: 1.6rem;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
}

.container {
    max-width: 8in;
    width: 100%;
    padding: 0px;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    background-color: azure;
    padding: 0.2em;
    border-top: 3px solid lightskyblue;
    border-bottom: 3px solid lightskyblue;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 2px solid lightgray;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
}

h5 {
    font-size: 1.1em;
    font-weight: bold;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

h1::before {
    font-size: 80%;
    color: lightgray;
    display: inline-block;
    content: "<H1>";
    margin-left: -3.5em;
    width: 3.5em;
}

h2::before {
    font-size: 80%;
    color: lightgray;
    display: inline-block;
    content: "<H2>";
    margin-left: -3.5em;
    width: 3.5em;
}

h3::before {
    font-size: 80%;
    color: lightgray;
    display: inline-block;
    content: "<H3>";
    margin-left: -3.5em;
    width: 3.5em;
}

h4::before {
    font-size: 80%;
    color: lightgray;
    display: inline-block;
    content: "<H4>";
    margin-left: -3.5em;
    width: 3.5em;
}

h5::before {
    font-size: 80%;
    color: lightgray;
    display: inline-block;
    content: "<H5>";
    margin-left: -3.5em;
    width: 3.5em;
}

h6::before {
    font-size: 80%;
    color: lightgray;
    display: inline-block;
    content: "<H6>";
    margin-left: -3.5em;
    width: 3.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

table:not(:has(tbody)) th {
    text-align: center;
}

table:has(tbody) thead {
    background: lightgray;
}

table:has(tbody) thead th {
    padding: 3px;
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}

table:has(tbody) td {
    padding: 3px;
    border-bottom: 1px lightgray solid;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

ul, ol {
    padding-left: 1.5em;
}

pre {
    font-size: 90%;
    background-color: #f3f3f3;
    border: 1px solid lightgray;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    /* padding: 0.5em; */
}

@media print {
    h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
      display: none;
    }
}
