<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta lang="en" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:description" content="description">
  <meta property="og:title" content="title">
  <meta property="og:type" content="article">

  <script type="text/javascript" id="MathJax-script" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%=title %>
  </title>
</head>

<body>
  <article id="container">
    <%-content %>
  </article>
  <footer id="footer" aria-hidden="true">
    <hr />
    <a href="https://www.npmjs.com/package/tinymdserv">Tiny Markdown Server</a>
  </footer>
</body>

<script type="text/javascript">
  document.querySelectorAll('pre code').forEach(el => {
    hljs.highlightElement(el);
  });
</script>
<script type="text/javascript" src="/js/autoupdate.js">
</script>
<script type="text/javascript">
  autoupdate_register(1);
</script>

</html>